* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #38ada9;
  opacity: 0.7;
  height: 700px;
  width: 400px;
  margin: 100px auto 0px auto;
  border-radius: 22px;
  border: 1px solid #2C3A47;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 45%;
}

.btn {
  width: 90%;
  height: 90%;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 135%;
  border-radius: 10px;
  background-color: #d1ccc0;
}

.display {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1px;
  text-align: right;
  padding: 30px;
  height: 40%;
}

.lbl {
  font-size: 500%;
}

.text {
  font-size: 200%;
}

.operation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 12%;
  grid-column-gap:0;
  width: 100%;
}

.clear {
  width: 100%;
}