* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: aqua;
  height: 700px;
  width: 400px;
  margin: 100px auto 0px auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
}

.btn {
  width: 90%;
  height: 90%;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 135%;
}